---
interface Props {
  styles: string;
  imageSrc: string;
  img: string;
  title: string;
  description: string;
  price: string | number;
}

const { styles, imageSrc, img, title, description, price }= Astro.props;
---

<div
  class={`${styles} w-full h-full bg-cover p-4`}
  style={`background-image: url('${imageSrc}')`}
>
  <h2>{title}</h2>
  <p>{description}</p>
  <div>
    <p>Precio {price} soles</p>
    <p>sujeto a variaciones</p>
  </div>
</div>